<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-floating" action="" method="post">
        <h3 align="center">Login</h3>
        <div class="form-group">

            <input class="form-control" type="text" name="number"  placeholder="number">
        </div>
        <div class="form-group">

            <input class="form-control" type="text" name="message" placeholder="message">
        </div>
    
        <br />
        <button type="submit" class="btn btn-primary"> Login</button>
    </form>
</body>
</html>